.container {
  display: flex;
  flex-direction: column;
  /* height: 100%; */
  /* margin-bottom: 3rem; */
  /* background-color: var(--main-color); */
  width: 100%;
  }
  .notFound{
    width: 25vw;
    color: var(--Font-color);
    text-align: center;
    align-items: center;
    height: 10vh;
    font-size: 20px;
  }
  .headContainer{
    width: 25vw;
    background-color: var(--main-color);
    color: var(--Font-color);
    text-align: center;
    display: flex;
    margin: 0 auto;
    align-items: center;
    height: 10vh;
  }
.header{
  width: 80%;
  font-weight: 200;
  font-size: 2.5rem;
  color: var(--grays-color);
  text-align: center;
  
}
.heroBackgrd {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(163 92 153 / 51%); 
}
.filterIcon {
  width: 20px;
  height: 35px;
  margin-left:1rem ;
  cursor: pointer;
  transition: transform 0.3s ease; /* Add transition for smooth scaling effect */
}

.filterIcon:hover {
  transform: scale(1.2); /* Scale up the icon on hover */
}

.show{
  width: 100%;
  position: absolute;
  bottom: 0;
  display: block; 
  animation: slideIn 0.5s forwards; /* Apply animation for showing */

}

.hide {
  display: none; /* Hide the search filter when necessary */
}
.top{
  position: relative;
  height: 15rem;
}
.card{
  display: flex;
  margin-top: 2rem;
  flex-direction: row;
}

.bottom{
  display: flex;
  height: 100%;
  flex-direction: column;
  background-color: white;
}
.discover:hover {
  background-image: linear-gradient(to bottom right, #3d77a3, #4ea8de);
}
.discover {
  display: inline-block;
  padding: 12px 24px;
  border-radius: 25px;
  background-image: linear-gradient(to bottom right, #4ea8de, #3d77a3);
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  transition: background-image 0.3s;
}

@keyframes slideIn {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/* /* @media screen and (max-width: 1450px) {
  .header{
      width: 40%;
      font-size: 24px;
  }} */
  @media screen and (max-width: 805px) {
    .header{
        /* width: 50%; */
        font-size: 24px;
        font-weight: 400;
    }} 
    @media screen and (max-width: 369px) {
     .top{
      height: 20rem;
     }
    }