.post {
  width: 90%;
}
.thePost {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.container {
  position: relative;
  height: 100%;
  width: 99vw;
  margin-bottom: 3rem;
  background-color:white;
}

.top {
  height: 15rem;
  width: 100%;
  position: relative;
  z-index: 4;
  background-color: var(--bcg--top);
  /* background:linear-gradient(to right red purple); */
}
.heroBackgrd {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(163 92 153 / 51%);
}
.img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.user {
  height: 100px;
  margin-left: 9%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.post {
  width: 50%;
  border-radius: 20px;
  margin: auto;
  max-height: 60rem;
  background-color: whitesmoke;
  margin-bottom: 1rem;
  margin-top: 2rem;
  padding-top: 1rem;
}
.profileUser {
  border-radius: 50%;
  width: 70px;
  height: 70px;
}

.postTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  height: 5rem;
  position: relative;
  width: 100%;
  color: var(--grays-color);
}
.topLeft {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  width: 40%;
  height: 100%;
  justify-content: flex-start;
}
.topCenter {
  padding: 1rem;
  display: flex;
  height: 100%;
  width: 60%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.center {
  width: 100%;
  height: 60%;
}
.posttt {
  /* object-fit: cover;
    height: 20rem;
    width: 100%; */
  object-fit: cover;
  /* position: relative; */
  max-height: 20rem;
  width: 91%;
  border-radius: 18px;
  margin: 1rem auto;
  display: flex;
  /* text-align: center; */
  justify-content: center;
}
.bottom {
  width: 100%;
  padding: 10px;
  color: white;
  /* min-height: 5rem;
    max-height: 15rem; */
  display: flex;
  height: 100%;
  /* flex-direction: column; */
  justify-content: space-between;
}
.rating {
  color: var(--grays-color);
  display: flex;
  position: relative;
  gap: 1rem;
  margin-left: 3rem;
  height: fit-content;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.desc {
  width: 90%;
  max-height: 24rem;
  color: var(--grays-color);
  /* overflow-y: scroll; */
  padding: 12px;
  margin: 0 auto 1rem auto;
}

.name {
  font-weight: 500;
  font-size: 18px;
  color: black;
}
.time {
}
.productName {
  position: absolute;
  right: 0;
  color: white;
  text-align: center;
  max-width: 50%;
  min-width: 7rem;
  border-bottom-left-radius: 18px;
  padding: 12px 7px 10px 7px;
  font-size: 18px;
  background-color: var(--Font-color);
}
.modalBackdrop {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  width: 40%;
  height: 60%;
  /* overflow-y: auto;  */
}

.commentCard {
  /* background-color: bisque; */
  margin-bottom: 1rem;
  background-color: #e9e4e7;
  /* padding-bottom: 24px; */
}
.commentCards {
  padding: 3rem;
  overflow-y: auto;
  max-height: 70%;
}
.userComented {
  display: flex;
  height: 100%;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
.imgComment {
  width: 45px;
  height: 45px;
  object-fit: cover;

  border-radius: 50%;
}
.commentsContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
}
.commentTextArea {
  height: 16%;
  width: 87%;
  margin: 1rem 3rem;
}
.submitButton {
  position: absolute;
  bottom: 0rem;
  left: 3rem;
  cursor: pointer;
  color: white;
  background-color: var(--Font-color);

  /* background-color: rgb(232, 225, 225); */
  border-radius: 0;
  height: 3rem;
  transition: all 0.3s ease;
  border: none;
  margin: 14px;
  font-size: 18px;
  padding: 11px;
  width: 11rem;
}
.skinType {
  margin-top: 0.2rem;
  margin-left: 2rem;
  color: rgb(163 92 153 / 88%);
  font-size: 18px;
}
.submitButton:hover {
  box-shadow: 0 0 8px var(--grays-color);
  background-color: transparent;
  color: var(--Font-color);
}
.closee {
  position: absolute;
  top: -0.5rem;
  /* color: #ff758d; */
  right: 1rem;
  cursor: pointer;
  font-weight: 600;
  font-weight: 400;
  background-color: transparent;
  z-index: 1000;
  background-color: var(--Font-color);
  color: white;
  border-radius: 0;
  transition: all 0.3s ease;
  border: none;
  cursor: pointer;
  margin: 14px;
  font-size: 14px;
  padding: 6px;
}
.closee:hover {
  box-shadow: 0 0 8px var(--grays-color);
  background-color: transparent;
  color: var(--Font-color);
}
.titleCmnt {
  position: absolute;
  top: 0.5rem;
  color: var(--Font-color);
  left: 3rem;
  cursor: pointer;
  font-weight: 800;
  background-color: transparent;
  z-index: 1000;
}
.commentButton {
  cursor: pointer;
  /* position: absolute; */
  bottom: 0rem;
  /* right: 100%; */
  border: none;
  height: 1rem;
  width: 2rem;
  font-size: 20px;
  /* font-size: 12px; */
  margin-right: 5%;
  color: white;
  /* background-color: var(--main-color); */
  background-color: transparent;
}
.searchbar {
  width: 20%;
  margin: 0 auto;
  position: absolute;
  /* text-align: center; */
  padding: 1%;
  /* border: 1px solid #ccc; */
  border: none;
  border-radius: 20px;
  bottom: 3px;
  right: 25%;
  font-size: 14px;
}
.subCategory {
  font-size: 28px;
  font-family: 500;
  font-weight: 600;
  color: var(--Font-color);
  margin-top: 0.2rem;
  margin-left: 2rem;  /* margin-left: 3rem; */
}
.rateStuff {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
.viewMore {
  color: rgb(90, 74, 86);
  cursor: pointer;
  /* border-bottom: 1px solid rgb(129, 121, 121); */
}

.viewMore:hover {
  color: var(--Font-color); /* Change the color when hovered over */
}
.center{
  display: flex;
}
.lefttSide{
  width: 50%;
}
.righttSide{
  display: flex;
  flex-direction: column;
  width: 50%;
}
@media (max-width: 1200px) {
  .name {
    font-size: 14px;
  }
  .time {
    font-size: 13px;
  }
  .topCenter {
    width: 68;
  }
  .subCategory {
    font-size: 22px;

  }
  .skinType {
    font-size: 14px;
  }
  .desc{
    font-size: 14px;
  }
.searchbar{
  width: 22%;
  font-size: 12px;
}

}

@media (max-width: 970px) {
  .center{
    display: flex;
    flex-direction: column;
  }
  .lefttSide{
    width: 100%;
  }
  .righttSide{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 2rem;
    align-content: center;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .desc{
    width: 90%;
    max-height: 24rem;
    color: var(--grays-color);
    /* overflow-y: scroll; */
    padding: 0px;
    margin: 1rem 0 0rem 0;
    margin:0;
  }
  .topLeft{
    width: 74%;
    padding: 3rem;
  }
  .rateStuff{
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }
  .productName{
    max-width: 50%;
    min-width: 4rem;
    border-bottom-left-radius: 18px;
    padding: 12px 7px 10px 7px;
    font-size: 12px;
  }
  .profileUser{
    width: 55px;
    height: 55px;
  }
  .topLeft{
    padding: 1rem;
  }
  .post{
    width: 75%;
  }
  .rating{
    color: var(--grays-color);
    display: flex;
    position: relative;
    gap:0;
    margin-left: 1rem;
    
    height: -moz-fit-content;
    height: fit-content;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    /* padding: 1rem; */
    padding-top: 1rem;
  }
  .subCategory{
    margin-left: 0
  }
  .skinType{
    margin-left: 0;
  }
  .searchbar{
    height: 2rem;
    right: 14%;
      font-size: 12px;
      width: 30%;
  }
}
@media  (max-width: 670px) {
  /* .rating{
    color: var(--grays-color);
    width: 100%;
    display: flex;
    position: relative;
    gap: 1rem;
    height: fit-content;
    flex-direction: column;
    justify-content: flex-start;
    align-
    items: flex-start;
  } */
  .searchbar{
    height: 2rem;
      right: 14%;
      font-size: 12px;
      width: 35%;
  }
}
@media (max-width:580px) {
  .searchbar{
   
      width: 45%;
  }
}
@media (max-width:480px) {
  .desc{
    width: 90%;
    max-height: 24rem;
    color: var(--grays-color);
    /* overflow-y: scroll; */
    padding: 0px;
    margin: 1rem 0 0rem 0;
    font-size: 12px;

  }
  .skinType{
    margin-top: 0.2rem;
  }
  .searchbar{
  width: 75%;
      font-size: 12px;
  }
}
@media (max-width:380px) {
.searchbar{
  height: 2rem;
    right: 0%;
    font-size: 12px;
    width: 100%;
}
.post{
  width: 100%;
  background-color: transparent;
}}