.container {

  height: 100%;
  margin-bottom: 3rem;
}

.top {
  height: 18rem;
  width: 100%;
  position: relative;
  z-index: 4;
  background-color: rgb(27, 186, 186);
}
.img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.user {
  height: 100px;
  margin-left: 9%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.post{
  width: 50%;
  margin: auto;
  max-height: 60rem;
  background-color: rgb(21, 97, 97);
  margin-bottom: 1rem;
  margin-top: 2rem;
}
.profileUser {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin-right: 2rem;
}

.postTop{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  height: 5rem;
  padding: 43px;
}
.topLeft{
  display: flex;
  align-items: center;
  gap: rem;
}
.center{
  width: 100%;
  height: 60%;
}
.posttt{
  object-fit: cover;
  height: 20rem;
  width: 100%;
}
.bottom{
  padding: 10px;
  color: white;
  /* min-height: 5rem;
  max-height: 15rem; */
  display: flex;
  height: 100%;
  flex-direction: column;
}