.container {
  display: flex;
  margin: auto;
  height: 66vh;
  width: 95%;
  justify-content: center;
}

.left {
  width: 50%;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.right {
  width: 50%;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  background-color: rgb(243, 243, 243);
}

.action {
  font-size: 20px;
  width: 100%;
  padding: 20px;
  justify-content: center;
  align-items: center;

  line-height: 32px;
  color: var(--font-color);
}

.header {
  color: var(--grays-color);
  font-size: 5rem;
  text-align: center;
}

.div {
  width: 58%;
  height: 51%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.imgg {
  width: 100%;
  height: 100%;
  background-size: cover;
  object-fit: 100%;
  background-position: center center;
}

@media (max-width: 1200px) {
  .left {
    display: none;
  }
  .right {
    width: 100%;
  }
}
@media (max-width: 957px) {
  .header {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    row-gap: 2rem;
  }
}
