.container {
  /* gap: 88px; */
  display: flex;
  /* flex-wrap: wrap;
  width: 80%;
  margin:1rem auto; */
  width: 100vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contentContainer{
  gap: 88px;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin:1rem auto;
  justify-content: center;
  align-items: center;
}
.card {
  height: 35rem;
  width: 25rem;
  background-color: hsl(0deg 0% 92.54% / 30%);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  overflow: hidden;
  border: 1px solid gray;
  padding: 2rem;

}

.details {
  text-align: center;
  font-size: 23px;
  line-height: 3rem;
  font-weight: 600;
  color: #0b0a30fa;
}

.link {
  text-decoration: none;
}


.p{
  height: 100%;
}
.desc
 {
  font-weight: 400;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: auto;
  text-align: center;
}

.subCategory {
  position: absolute;
  right: 0;
  color: white;
  text-align: center;
  max-width: 50%;
  min-width: 7rem;
  border-bottom-left-radius: 18px;
  padding: 12px 7px 10px 7px;
  font-size: 16px;
  background-color: var(--Font-color);
  /* font-size: 28px;
  height: 7vh;
  font-weight: 800;
  text-align: center;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  color: rgba(43, 43, 43, 0.63)  ; */
}
.searchInputDiv{
  width: 30%;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.searchInput{
  width: 100%;
  padding: 5%;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 0 auto;
  display: block;
  height: 100%;
}
.searchIcon{
  position: absolute;
  left: 1%;
  color: var(--Font-color);
}
.img {
  height: 70%;
  width: 100%;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.img:hover {
  transform: scale(1.1);
}

.ingredients li {
  list-style-type: none;
}
/* nput, textarea {
  width: 16%;
  padding: 1%;
  top: 15%;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: absolute; */
.skinType{
  font-size: 18px;
  color: var(--bcg--top);
}
.hoverDetails {
  opacity: 0;
  position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    gap: 5%;
    top: 0;
    backdrop-filter: blur(8px);
    padding: 20px;
    background-color:var(--bcg--top);
    color:white;
    border-radius: 0px;
    /* transition: opacity 0.5s ease-in-outn; */
    flex-direction: column;
    font-weight: 200;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: center;
    font-size: 21px;
    line-height: 2rem;
  transition: opacity 0.3s ease-in-out;
}

.card:hover .hoverDetails {
  opacity: 1;
}

.cardContent {
  height: 100%;
  width: 100%;
}
@media (max-width:970px) {
  .subCategory{
    max-width: 50%;
    min-width: 4rem;
    border-bottom-left-radius: 18px;
    padding: 12px 7px 10px 7px;
    font-size: 12px;
  }
  .searchInput{
    width: 40%;
  }
  
}
@media (max-width:560px) {
  .card{
    height: 35rem;
    width: 25rem;
    /* background-color: hsl(0deg 0% 92.54% / 30%); */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    overflow: hidden;
    /* border: 1px solid gray; */
    padding: 0rem;
  }
  .searchInput{
    width: 50%;
  }
}