.container {
  gap: 11rem;
  display: flex;
  /* gap: 5rem; */
  /* width: fit-content; */
  /* max-width: 66.8vw; */
  width: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
  flex-direction: column;
}
.content {

  height: 28rem;
  /* width: 92rem; */
  /* width: 100%; */
  min-width: 30rem;
  /* width: 90rem; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* border: 1px solid black; */
  position: relative;

}
.question {
    display: flex;
    width: 70%;
    height: 15rem;
    margin: 0 auto;
    text-align: center;
    color: rgba(14, 19, 66, 0.76);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:hsl(172.17deg 9.87% 45.69% / 30%);
    font-size: 20px;
    border-radius: 40px 0px;
}
.question p{
    font-weight: 600;
    padding: 13px;

}
.faq{
  width: 70%;
  background-color: rgb(255, 255, 255);
  height: fit-content;
  padding: 0 10px ;
  padding-left: 3rem;
  border-left: 2px solid purple;
  /* border: 1px solid red; */

}
.h1{
  font-size: 55px;
  font-weight: 400;
  color: #540d54;
}
.p{
  font-size: 22px;
  margin-top: 2rem;
  width: 80%;
  color: #540d54;


}

.answer p {
    font-weight: 300;
    padding: 13px;
    color: var(--fonts-color);

}
/* .answer{
    border-radius: 40px 0px;

    background-color: #697d8e;
    font-size: 19px;
    display: flex;
    width: 70%;
    height: 60%;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
} */
@keyframes slideDown {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .answer {
    border-radius: 40px 0px;
    background-color: #697d8e;
    font-size: 19px;
    display: flex;
    width: 70%;
    height: auto;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    opacity: 0;
  }
  
  .answer.show {
    animation: slideDown 0.8s ease forwards;
  }
  
  
  @media screen and (max-width:500px) {
    .faq{
      width: 140%;
      background-color: rgb(255, 255, 255);
      height: fit-content;
      padding: 0 10px ;
      padding-left: 3rem;
      border-left: 2px solid purple;
      /* border: 1px solid red; */
    
    }
    .container{
      gap: 3rem;
    }
    
    .h1{
      font-size: 35px;
      font-weight: 400;
      color: #540d54;
      line-height: 30px;
    }
    .p{
      font-size: 16px;
      margin-top: 1rem;
      width: 80%;
      color: #540d54;
    
    
    }
  }