.container {
  border-radius: 40px;
  display: flex;
  height: 90vh;
  margin-bottom: 3rem;
}

.right {
  /* border-radius: 40px 40px 40px 40px; */
  width: 100%;
  position: relative;
  /* background-color: var(--gray-color); */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-image: url(/src/assets/images/product.jpg); */
  background-size: cover;
  background-position: center center;
}

.mainImg {
  width: 31vw;
  height: 92vh;
  position: absolute;
  top: 4rem;
  left: 2%;
}

.cremImg {
  position: absolute;
  right: 0;
  bottom: 1.5rem;
}

.header {
  color: var(--purple-color);
  font-size: 5rem;
  line-height: 8rem;
  width: 80%;
  z-index: 10;
}

.ul {
  margin-left: 8rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.li {
  color: var(--purple-color);
  font-weight: 500;
  font-size: 20px;
}

.div {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 2rem;
}

/* Scroller styling */
/* .scroller {
    height: 1.2em;
    line-height: 1.2em;
    position: relative;
    overflow: hidden;
    width: 10em;
  }
  .scroller > span {
    position: absolute;
    top: 0;
    animation: slide 5s infinite;
    font-weight: bold;
    
  } */
.action {
  color: var(--purple-color);
  font-size: 20px;
  z-index: 10;
}

.btn {
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 2rem;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 400;
  position: relative;
  border: 2px solid var(--gray-color);
  color: var(--main-color);
  background-color: var(--purple-color);
  overflow: hidden;
  margin-top: 5px;
  text-decoration: none;
  font-size: 1.1rem;
  transition: all 0.3s linear;
  margin-bottom: 1rem;
}
.btn:hover {
  filter: brightness(1.2);
}

@media (max-width: 1200px) {
  .left {
    display: none;
  }
  .right {
    width: 100%;
  }
}
@media (max-width: 957px) {
  .header {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    row-gap: 2rem;
  }
}
