.contentsection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
  height: 100vh;
  align-content: center;
  justify-content: center;
  margin-bottom: 4rem;
}

.h1 {
  text-align: center;
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
  color: var(--Font-color);
  font-weight: bold;
  margin-bottom: 100px;
  margin-bottom: 2rem;
}
.subtitle {
  /* text-align: center;
  margin-bottom: 1rem;
  color: var(--Font-color); */

  position: absolute;
  right: 0;
  top: 0;
  color: white;
  text-align: center;
  max-width: 50%;
  min-width: 7rem;
  border-bottom-left-radius: 18px;
  padding: 12px 7px 10px 7px;
  font-size: 18px;
  background-color: var(--Font-color);
}
.skinType {
  margin-bottom: 1rem;
  margin-top: 0rem;
  text-align: left;
  color: rgb(163 92 153 / 88%);
  font-size: 18px;
}
.namePd {
  font-size: 20px;
  font-family: 500;
  font-weight: 600;
  color: var(--Font-color);
  margin-top: 0rem;
  margin-bottom: 1rem;
}
.cards {
  margin: 0 auto;
  width: 80%;
  height: 470px;
  justify-content: center;
}

.productHolder {
  background-color: var(--main-color);
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: rgba(43, 43, 43, 0.63);
  height: 570px;
  margin-right: 10px;
  padding: 20px;
  overflow: hidden;
  width: 100%;
  transition: all 0.3s;
}
.details {
  text-align: center;
}
.productHolder .imgg {
  height: 50%;
  margin: 0 auto;
  display: block;
  border-radius: 0px;
  transition: 1s cubic-bezier(0, 0, 0.2, 1);
  /* width: 80%; */
}

.description {
  text-align: center;
  margin: 0 auto;
  padding: 2px;
  max-height: 5rem;
  overflow-y: auto;
}
/* .viewMore{
  color: var(--font-color);
  width: 100%;
  height: 1rem;
  text-align: center;
} */
@media (max-width: 1200px) {
  .title {
    font-size: 3rem;
  }
  .skinType {
    font-size: 14px;
  }
  .subtitle {
    font-size: 22px;
  }
}
@media (max-width: 450px) {
  .title {
    font-size: 24px;
  }
}

@media (max-width: 370px) {
  .title {
    font-size: 18px;
  }
  .namePd {
    font-size: 16px;
  }
  .subtitle {
    font-size: 16px;
    min-width: 5rem;
  }
  .productHolder {
    height: 447px;
  }
  .imgg {
    height: 39%;
    width: 90%;
  }
}
@media (max-width: 768px) {
  .cardContainer {
    display: flex;
    flex-direction: column;
  }
}
.productSection {
  font-size: 20px;
  display: flex;
  gap: 26px;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2rem;
  min-height: 600px;
}
@media (max-width: 530px) {
  .productSection {
    margin: 2rem 0.5rem;
  }
}
.shopContainer {
  margin-right: 280px;
}
.image {
  border-top-right-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);
}
.lower {
  height: 20%;
  height: 400px;
  width: 300px;
  padding: 20px;
  overflow: hidden;
  /* border-radius: var(--border-radius); */
  transition: all 0.3s;
}
.productHolder:hover {
  box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.1);
  transform: scale3d(1.05, 1.05, 1.05);
}
.productHolder img {
  height: 300px;
  display: block;
  /* border-radius: var(--border-radius); */
  transition: 1s cubic-bezier(0, 0, 0.2, 1);
  width: 100%;
}

.details {
  margin-top: 10px;
}
.details div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  direction: rtl;
}

.cart:hover {
  cursor: pointer;
}

.collapse {
  display: flex;
  position: relative;
}
.productSection {
  font-size: 20px;
  display: flex;
  gap: 26px;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2rem;
  min-height: 600px;
}
@media (max-width: 530px) {
  .productSection {
    margin: 2rem 0.5rem;
  }
}
.shopContainer {
  margin-right: 280px;
}
.skinType {
  margin-top: 0.2rem;
}

.productHolder:hover {
  box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.1);
  transform: scale3d(1.05, 1.05, 1.05);
}
.productHolder img {
  height: 300px;
  display: block;
  /* border-radius: var(--border-radius); */
  transition: 1s cubic-bezier(0, 0, 0.2, 1);
  width: 100%;
}

.details {
  margin-top: 10px;
}
.details div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  direction: rtl;
}

.cart:hover {
  cursor: pointer;
}

.collapse {
  display: flex;
  position: relative;
}

@media (max-width: 350px) {
  .skinType {
    text-align: left;
  }
  .span {
    font-size: 12px;
  }
  .description {
    font-size: 14px;
  }
  .namePd {
    font-size: 15px;
  }
}
