.container {
  height: 93vh;
  margin-bottom: 3rem;
  background-color: white;
}
.top {
  height: 18rem;
  width: 100%;
  /* position: relative; */
  z-index: 4;
  background-image: linear-gradient(
    to bottom,
    rgba(229, 220, 226, 0.902),
    rgb(160, 157, 158)
  );
}
.center {
  display: flex;
  width: 100%;
}
.left {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  align-items: center;
  margin-top: 5rem;
  height: 20rem;
  position: relative;
}

.right {
  width: 75%;
  /* border:1px solid red ; */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pfImg {
  z-index: 1000;
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid white;
}
.nameLeft {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 1rem;
  font-weight: 400;
}
.btns {
  display: flex;
  gap: 1rem;
  width: 150px;
  /* flex-direction: column; */
}
.btn {
  background-color: rgb(232, 225, 225);
  color: black;
  border-radius: 0;
  height: 3rem;
  transition: all 0.3s ease;
}
.btn2:hover {
  box-shadow: 0 0 10px black;
  background-color: transparent;
}
.btn2 {
  background-color: rgb(232, 225, 225);
  color: black;
  border-radius: 0;
  height: 3rem;
  transition: all 0.3s ease;
  border: none;
  cursor: pointer;
  margin: 14px;
  font-size: 18px;
  padding: 11px;
  width: 11rem;
}
.btn:hover {
  box-shadow: 0 0 10px black;
  color: white;
  background-color: rgb(87, 11, 95);
}
/* //////////////////////////////////////// */
.post {
  width: 62%;
  margin: auto;
  max-height: 60rem;
  background-color: whitesmoke;
  margin-bottom: 1rem;
  padding-top: 1rem;
  margin-top: 2rem;
}
.profileUser {
  border-radius: 50%;
  width: 70px;
  height: 70px;
}

.postTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  height: 5rem;
  position: relative;
  width: 100%;
  color: var(--grays-color);
}
.topLeft {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  width: 40%;
  height: 100%;
  justify-content: flex-start;
}
.topCenter {
  padding: 1rem;
  display: flex;
  height: 100%;
  width: 60%;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.centerPost {
  width: 100%;
  height: 60%;
}
.posttt {
  /* object-fit: cover;
  height: 20rem;
  width: 100%; */
  object-fit: cover;
  /* position: relative; */
  max-height: 20rem;
  width: 91%;
  border-radius: 18px;
  margin: 1rem auto;
  display: flex;
  /* text-align: center; */
  justify-content: center;
}
.bottom {
  width: 100%;
  padding: 10px;
  color: white;
  /* min-height: 5rem;
  max-height: 15rem; */
  display: flex;
  height: 100%;
  /* flex-direction: column; */
  justify-content: space-between;
}
.rating {
  color: var(--grays-color);
  display: flex;
  position: relative;
  margin-left: 3rem;
  height: 2rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.desc {
  width: 90%;
  max-height: 3rem;
  color: var(--grays-color);
  overflow-y: scroll;
  padding: 12px;
  margin: 0 auto 1rem auto;
}
.name {
  font-weight: 500;
  font-size: 18px;
  color: black;
}
.mail {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 1rem;
}
.productName {
  position: absolute;
  right: 0;
  color: white;
  text-align: center;
  max-width: 50%;
  min-width: 7rem;
  border-bottom-left-radius: 18px;
  padding: 12px 7px 10px 7px;
  font-size: 18px;
  background-color: var(--Font-color);
}
.modalBackdrop {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  width: 40%;
  height: 60%;
  /* overflow-y: auto;  */
}

.commentCard {
  /* background-color: bisque; */
  margin-bottom: 1rem;
  background-color: #e9e4e7;
  /* padding-bottom: 24px; */
}
.commentCards {
  padding: 3rem;
  overflow-y: auto;
  max-height: 70%;
}

.commentsContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
}
.commentTextArea {
  height: 16%;
  width: 87%;
  margin: 1rem 3rem;
}
.submitButton {
  position: absolute;
  bottom: 0rem;
  left: 3rem;
  cursor: pointer;
  color: white;
  background-color: var(--Font-color);

  /* background-color: rgb(232, 225, 225); */
  border-radius: 0;
  height: 3rem;
  transition: all 0.3s ease;
  border: none;
  margin: 14px;
  font-size: 18px;
  padding: 11px;
  width: 11rem;
}
.submitButton:hover{
  box-shadow: 0 0 8px var(--grays-color);
  background-color: transparent;
  color: var(--Font-color);
}

.closee {
  position: absolute;
  top: -0.5rem;
  /* color: #ff758d; */
  right: 1rem;
  cursor: pointer;
  font-weight: 600;
  font-weight: 400;
  background-color: transparent;
  z-index: 1000;
  background-color: var(--Font-color);
  color: white;
  border-radius: 0;
  transition: all 0.3s ease;
  border: none;
  cursor: pointer;
  margin: 14px;
  font-size: 14px;
  padding: 6px;
}
.closee:hover{
  box-shadow: 0 0 8px var(--grays-color);
  background-color: transparent;
  color: var(--Font-color);
}
.titleCmnt {
  position: absolute;
  top: 0.5rem;
  color: var(--Font-color);
  left: 3rem;
  cursor: pointer;
  font-weight: 800;
  background-color: transparent;
  z-index: 1000;
}
.skinType {
  margin-top: 1rem;
  margin-left: 3rem;
  margin-bottom: 1rem;
  color: var(--Font-color);
  font-size: 18px;
}
.commentButton {
  cursor: pointer;
  /* position: absolute; */
  bottom: 0rem;
  /* right: 100%; */
  border: none;
  height: 1rem;
  width: 2rem;
  font-size: 20px;
  /* font-size: 12px; */
  margin-right: 5%;
  color: white;
  /* background-color: var(--main-color); */
  background-color: transparent;
}
.searchbar {
  width: 25%;
  margin: 0 auto;
  position: absolute;
  /* text-align: center; */
  padding: 1%;
  border: 1px solid #ccc;
  border-radius: 4px;
  bottom: 0;
  right: 38%;
}
.img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.containerPost {
  width: 100%;
  height: 64vh;
  overflow-y: scroll;
}
.userComented {
  display: flex;
  height: 100%;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
.imgComment {
  width: 45px;
  height: 45px;
  object-fit: cover;

  border-radius: 50%;
}
.subCategory {
  font-size: 28px;
  font-family: 500;
  font-weight: 600;
  color: rgb(142 135 65);
}
.btn1 {
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 2.5rem;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 600;
  position: relative;
  /* border: 1px solid var(--font-color); */
  background-color: var(--grays-color);
  /* background-color: transparent; */
  overflow: hidden;
  text-decoration: none;
  font-size: 1.2rem;
  transition: all 0.3s ease-out;
}
.btn1:hover {
  box-shadow: 0 0 10px black;
  background-color: transparent;
}
.containImg{
  position: absolute;
  top: -161px;
  left: 36%; }
    
  
/* ////////////////////////////// */
@media (max-width:1400px) {
  .center{
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  .left{
    width: 100%;
    height: 20%;
  }
  .right{
    width: 100%;
    height: 100%;
  }
  .containerPost{
    width: 100%;
    height: 100%;
  }
  .containImg{
margin: 0 auto;
width: 100%;  }
  
}