.container {
  height: 100%;
  width: 89%;
  margin: 0 auto;
  padding: 6rem;
  border-radius: 30px;

  }

  .content{
    width: 100%;
    height: 80vh;
    display: flex;
    gap: 1rem;
    border-radius: 30px;

  }
  .left{
    width: 50vw;
    border-radius: 30px;

  }
  .img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex-grow: 1;
    border-radius: 30px;

  }
  .right{
    width: 50vw;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    padding: 2rem;
    background: linear-gradient(to left, rgb(120 126 126), rgb(96 90 78));
    height: 100%;
  }
  .subCategory{
    font-size: 60px;
    font-weight: 600;
    margin-left: 1rem;
    margin-bottom: 1rem;
    color: rgb(90, 89, 89);
    /* background: linear-gradient(to right, rgb(245, 168, 2), rgb(241, 241, 241)); */
    color: lightgrey;
    /* -webkit-background-clip: text;
    -webkit-text-fill-color:transparent ; */
  }
  .name{
    font-size: 40px;
    font-weight: 500;
    margin-left: 1rem;
    margin-bottom: 1rem;
    color: rgb(90, 89, 89);
    /* background: linear-gradient(to right, rgb(245, 168, 2), rgb(241, 241, 241)); */
    color: lightgrey;
  }
  .description{
    font-size: 15px;
    margin-left: 1rem;
    font-weight: 400;
    margin-left: 1rem;
    letter-spacing: 1px;
    margin-bottom: 1rem;
    color: lightgray;
  }

  .skinType{
    font-size: 25px;
    margin-left: 1rem;
    font-weight: 500;
    margin-left: 1rem;
    letter-spacing: 1px;
    margin-bottom: 1rem;
    color: rgb(56, 54, 54);
  }

  .ingredientsTitle{
    font-size: 10px;
    margin-left: 1rem;
    font-size: 40px;
    font-weight: 500;
    margin-left: 1rem;
    color: rgb(56, 54, 54);
    margin-bottom: 1rem;
  }
  .li{
    list-style-type: none;
  
    color: blacrgba(0, 0, 0, 0.375)

  }
  .nameIng{
    font-weight: 500;
    margin-left: 1rem;
    font-size: 22px;
    color: lightgray;
  }
  .descIng{
    color: lightgray;
        font-size:18px;
  }